<ion-header color="primary">
  <ion-toolbar>
    <ion-title>
      checkme.in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="https://secure.meetupstatic.com/photos/event/2/2/b/0/highres_474488880.jpeg"></ion-img>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked" bold>Seu Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>    
    <ion-button expand="full"><ion-icon name="checkmark-circle"></ion-icon>Marcar Presença</ion-button>
  </ion-list>
</ion-content>
